.section-tours {
    margin-bottom: 100px;
    
    }
  
    .photo-big-3 img {
      width: 956px;
      height: 570px;
      margin-bottom: 70px;
    }
  
    .tours-title {
      margin-bottom: 40px;
      text-align: center;
    }

    .tour_info {
      font-size: 18px;
    } 

    .tour__title {
      font-size: 22px;
    }